# ============================================
# 应用配置
# ============================================
# dev, prod
APP_ENV=dev
# true, false
DEBUG=false
# error, warning, info, debug
LOG_LEVEL=debug

# ============================================
# 服务器配置
# ============================================
HOST=0.0.0.0
PORT=8080